html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  width: 100%;
  overflow-y: auto;
}

body {
  background: #3a1c71; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  font-family: 'Muli', sans-serif;
  overflow: hidden;
}

h1 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  margin-top: .5em;
  padding: .5em;
  font-size: 18px;
  border: 1px solid #3a1c71;
  border-radius: 10px;
}

.button {
  background: #3a1c71; /* fallback for old browsers */
  border-radius: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 1em;
  border: 1px solid #3a1c71;
  letter-spacing: 1px;
  cursor: pointer;
}
